header{
	color: #E5E7EB;
	background-color: #1F2937;
}
footer{
	color: #E5E7EB;
	background-color: #1F2937;
}
#hero{
	color: #E5E7EB;
	background-color: #1F2937;
}
#cta{
	color: #E5E7EB;
	background-color: #3882F6;
}