#main-container{
	background-color: rgb(60, 60, 60);
}
#btn-17, #btn-18, #btn-19{
	background-color: rgb(119, 119, 119);
}
#btn-0, #btn-4, #btn-8, #btn-12, #btn-16{
	background-color: rgb(255, 166, 0);
}
#btn-1, #btn-2, #btn-3, #btn-5, #btn-6, #btn-7, #btn-9, #btn-10, #btn-11, #btn-13, #btn-14, #btn-15 {
	background-color: rgb(169, 169, 169);
}
#screem-container{
	color: rgb(255, 246, 230);
}
button{
	color: white;
}
button:active{
	filter: brightness(1.2)  !important;
}
